
.news-title {
    /*     border: 2px solid white; */
        text-align: center;
        font-size: 36px;
        color: white;
        margin-top: 40px;
        font-weight: bold;
        padding: 50px;
    }
    
    .shop-image {
        margin-top: 60px;
        width:100%;
    }
    
    .news-image{
        margin-top: 20px;
        width:100%;
    }