/* #img_p1 {
    width: 60%;
    margin-top: 10px;
} 
#img_p2 {
    width: 60%;
    margin-top: 20%;
}
*/
#img_p2 {
    width: 60%;
    margin-top: 20%;
}

.carousel-control {
    position: absolute;
    top: 30%; /* pushes the icon in the middle of the height */
    z-index: 1;
    display: inline-block;

    color:black;
height: 10%;

    }
  
/*
.pilots_title, .teams_title {
    border: 2px solid white;
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 40px;
    font-weight: bold;
    padding: 50px;
}


.card_img {
    width: 100%
}


.card .card-text {
    color: black;
    font-size: 14px;
    font-style: italic;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



/* .card .table {
    padding: 15px 30px;
}

.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.card-description {
    text-align: justify;
    font-size: 18px;
    color: rgb(0, 0, 0);
} */ 